<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS Search Field Animation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/static/landing.css">

</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>

<p id="heading">MovieHub</p>
<div class="cntr">

	<div class="cntr-innr">
	  <label class="search" for="inpt_search">
			<input id="searchbox" type="text" />
		</label>
		<p>Hello, Movie Buff. Search here</p>
	</div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script><script  src="/static/script.js"></script>

</body>
</html>